node_modules/
.DS_Store
**/node_modules
generativeSVGs/node_modules/
**/.DS_Store
*.mp4
*.mov
**/*.mp4
**/*.mov
.venv
venv
code_snapshots/screenshots/*.png

**/__pycache__/*
**/__pycache__/**/*
pywocky/__pycache__/*
